# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\What_I_did_today\Python\flask_db_practice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
